* {
  font-family: "Times New Roman", Times, serif;
}
.admin-page {
  background-color: #dfe2ef;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.admin-home-card {
  color: rgb(3, 3, 3);
  text-align: center;
  background-color: #a0aab9;
  width: 70%;
  margin-left: 15%;
  padding: 4vh 0;
  border-radius: 0.8rem;
  border: 1px solid #393737c7;
}
.admin-home-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.admin-home-card button {
  border: 1.5px solid #0f0f0edf;
  background-color: #30373f00;
  color: #f9f8f7df;
  padding: 5px 25px;
  border-radius: 0.5rem;
}

.admin-home-card button:hover {
  background-color: #e6e7eedf;
  color: rgb(9, 10, 10);
  padding: 5px 25px;
  border-radius: 0.5rem;
}

.admin-banner-input {
  width: 42vw;
  padding: 4vh 3vw;
}
.admin-banner-input h5 {
  margin-bottom: 20px;
}
.admin-banner-input input {
  background-color: #a0aab9;
  color: rgb(237, 237, 243);
  border: 1px solid #030303;
}
.admin-banner-input input:focus {
  background-color: #f4efef;
  color: rgb(7, 7, 7);
  outline: none;
}
.admin-banner-input button {
  margin-top: 30px;
}
label {
  color: black;
  font-size: larger;
}
