.all-users-page {
  background-color: #a0aab9;
  height: 100vh;
  width: 100%;
  padding: 15vh 3vw 3vh 3vw;
}

.all-users-page h3 {
  color: rgb(13, 13, 14);
}

.user-cards {
  margin-top: 4vh;
  height: 70vh;
  width: 70vw;
  padding: 2vh 1vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-card {
  color: rgb(5, 6, 6);
  display: flex;
  gap: 40px;
  background-color: #f9e9e9;
  padding: 3vh 2vw;
  width: 65vw;
  border-radius: 0.8rem;
}

.user-card span h5 {
  font-weight: 400;
  color: rgb(11, 11, 11);
}

.user-card span p {
  color: rgba(8, 8, 8, 0.831);
  margin: 0;
}
