.AuthenticatePage {
  width: 100%;
  height: 100vh;
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authForm {
  margin-top: 5%;
  border: 1px solid #cb7c7c;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: max-content;
  font-family: Georgia, "Times New Roman", Times, serif;

  background-color: rgba(255, 255, 255, 0.263);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.5rem;
}
.authForm h2 {
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 108, 197);
  font-size: 2rem;
  font-weight: 400;
}
.authFormInputs {
  width: 100%;
  height: 50px;
}

.authFormInputs label {
  color: rgb(0, 61, 101);
}
.authFormInputs input {
  color: rgb(0, 61, 101);
  border: none;
  outline: none;
  background-color: rgba(231, 235, 235, 0);
  border: 1px solid #9dc1d975;
}
.authForm select {
  color: rgb(0, 61, 101);
  border: none;
  outline: none;
  background-color: rgba(231, 235, 235, 0);
  border: 1px solid #9dc1d975;
  font-size: medium;
  padding: 15px 10px;
  color: black;
}
.authFormInputs input #floatingInput .form-control {
  padding: 0 !important;
}

.authForm button {
  background-color: rgb(0, 108, 197);
  font-weight: 400;
  color: rgb(246, 251, 255);
  height: 40px;
  font-size: larger;
  margin-top: 10px;
}
.authForm p {
  margin-top: 5%;
  color: black;
}
.authForm p span {
  margin-top: 5%;
  color: rgb(0, 108, 197);
  cursor: pointer;
}
