.Footer {
  background-color: #619bde;
  color: rgb(7, 7, 7);
  padding: 3vh 3vw;
  margin-top: 3vh;
}
.Footer h4 {
  margin-left: 2vw;
}

.footer-body {
  display: flex;
  justify-content: space-evenly;
  gap: 10vw;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.footer-body ul li {
  list-style: none;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.footer-body ul li:hover {
  list-style: none;
  color: aliceblue;
}

.footer-bottom p {
  text-align: center;
  color: rgb(1, 5, 7);
  margin: 0;
  font-size: larger;
}
.footer-bottom span {
  text-align: center;
  position: relative;
  left: 450px;
}
.footer-bottom a {
  color: rgb(237, 230, 220);
  text-decoration: none;
}
