.new-product-page {
  background-color: #a0aab9;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 4vh;
}

.new-product-container {
  background-color: #636568;
  padding: 3vh 2vw;
  width: 54vw;
  margin-left: 25vw;
  border-radius: 0.6rem;
}

.new-product-container h3 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 3vh;
}

.new-product-container button {
  width: 50%;
  margin-left: 25%;
}

.new-product-body {
  height: 60vh;
  overflow-y: auto;
  padding: 2vh 1.5vw;
  margin-bottom: 2vh;
}

.new-product-body span {
  display: flex;
  justify-content: space-between;
}

.new-product-body span .span-21 input {
  width: 20vw;
}
.new-product-body span .span-22 input {
  width: 25vw;
}

.new-product-body span .span-21 input {
  width: 20vw;
}
.new-product-body span .span-22 input {
  width: 25vw;
}

.new-product-body span .span-3 input {
  width: 14.7vw;
}
.new-product-body span .span-3 select {
  width: 14.7vw;
}

.new-product-body input {
  background-color: #edeef025;
  border-color: #67646489;
  color: aliceblue;
}
.new-product-body input:focus {
  outline: none;
  background-color: grey;
  border-color: #67646489;
  color: rgb(246, 247, 248);
}
.new-product-body label {
  color: rgba(244, 246, 247, 0.84);
}

.new-product-body span select {
  background-color: #30373f25;
  border-color: #67646489;
  color: aliceblue;
}
.new-product-body span option {
  color: rgb(6, 21, 33);
}

.new-product-body section {
  margin: 3vh 0;
}

.new-product-body section h4 {
  color: aliceblue;
}

.new-product-body section span {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.new-product-body section span label {
  color: rgba(248, 249, 250, 0.658);
}
